@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --bg-color1:#14C38E;
}
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width:97%;
  margin:auto;
}
.App {
}
.nav{
  display:grid;
  grid-template-columns: 120px 1fr 120px;
  align-items:center;
}
.nav .left{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.nav .left h4::first-letter{
  color:orange;
}
.nav .left .App-logo{
  width:60px;
}
.nav .center ul{
  list-style-type: none;
  text-align: center;
}
.nav .center ul li{
  min-width: 5em;
  margin: 0 0.5em;
  display: inline-block;
}
.App-link{
  text-decoration:none;
  color:black;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.ship-pay{
  display:flex;flex-direction:row;
  justify-content:space-between;

}
h2{
  color:rgb(122, 122, 122);
  font-size:19px;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.delivery-truck,.delivery-cart{
  display:flex;
  align-items:center;
  justify-content:center;
  width:40px;
  height:40px;
  border-radius:50%;
  cursor: pointer;
}
.delivery-truck{
  background:var(--bg-color1);
}
.delivery-cart{
  position:relative;
  border:2px solid var(--bg-color1);
}
.delivery-cart::after{
  content:"";
  display: inline-block;
  position: absolute;
  height:3px;
  width:68px;
  left: 54px;
  border-bottom:2px dashed var(--bg-color1);
}
.ship-delivery{
  width:180px;
  display:flex;flex-direction:row;
  justify-content:space-between;
}
.ship-delivery img{
  width:21px;
}
hr{
  border-top: 1px solid rgb(233, 233, 233);
  margin:10px auto;
}
.left-right-section{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:40px;
}
.select-btns{
  width:60%;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
.select-btns button{
  height:50px;
  width:150px;
  border:none;
  border-radius:50px;
  cursor: pointer;
}
.select-btns button:nth-child(1){
  color: white;
  background: var(--bg-color1);
  margin-right:30px;
}
.select-btns button:nth-child(2){
  color:black;
  border:2px solid rgb(172, 172, 172);
  background:white;
}
.right-section h2{
  /* line-height:50px; */
}
.right-div-section{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:40px;
}
.payment-option{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  justify-content: center;
  align-items: center;
  gap:10px;
}
.payment-option div{
  display:flex;
  align-items: center;
  justify-content:center;
  padding:10px;
  border:2px solid rgb(233, 233, 233);
  border-radius:30px;
  cursor:pointer;
}
.nav .right{
  display:flex;
  justify-content:space-between;
  margin-right:10px;
}
.nav .right img{
  width:21px;
  cursor:pointer;
}
.payment-option img{
  height:25px;
  width:50px;
  cursor:pointer;
}
.payment-method{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px;
}
.payment-method img{
  width:60px;
}
.payment-method div{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:50px;
  padding:10px;
  border-radius:20px;
  border:2px solid rgb(233, 233, 233);
  cursor:pointer;
}
.input-forms{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:20px;
}
.input-forms input,select{
  padding-left:20px;
  height:50px;
  border-radius:20px;
  border:2px solid rgb(233, 233, 233);
  transition:all 0.2s ease-in;
}
.input-forms input:focus{
  outline:2px solid rgb(133, 133, 133);
}
.input-forms input::placeholder{
  font-size:16px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.cart-items{
  display:flex;
  flex-direction:column;
}
.cart-items img{
  height:50px;
  width:60px;
  border-radius:50%;
}
.cart-items .item{
  height:100px;
  display:grid;
  grid-template-columns: 50px 1fr 100px;
  grid-gap:30px;
  justify-content:center;
  align-items:center;
}
.cart-items .item h2{
  color:rgb(63, 63, 63);
  font-size:18px;
  line-height:30px;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.cart-items .item h3{
  color:rgb(83, 83, 83);
}
.cart-items .item h5{
  color:rgb(163, 163, 163);
}
.total-cost-btn{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:50px;
  background-color:rgb(241, 241, 241);
  color:rgb(88, 88, 88);
  font-size: 18px;
  width:90%;
  border:none;
  border-radius: 50px;
  cursor:pointer;
}
.total-cost-btn span{
  font-weight: bolder;
  color:black;
}
.delivery-discount-div{
  width:50%;
  display:grid;
  grid-template-columns: 1fr 4fr;
  align-items:center;
  justify-content:center;
}
.delivery-discount-div img{
  width:30px;
}
.delivery-discount-div p{
  text-align:left;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  color:rgb(53, 53, 53);
  line-height:23px;
}
.purchase-option{
  display:grid;
  grid-template-columns: 1fr 35%;
  margin:20px auto;
}
.purchase-option-btns{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.purchase-option button{
  height:50px;
  width:200px;
  border:none;
  border-radius:50px;
  cursor: pointer;
  letter-spacing: 1px;
}
.purchase-option button:nth-child(1){
  background:white;
  border:2px solid rgb(148, 148, 148);
}
.purchase-option button:nth-child(2){
  color:white;
  background-color:var(--bg-color1);
}
.back-btn{
  display:flex;
  align-items:center;
  cursor:pointer;
  transition:all 0.2 ease-in-out;
}
.back-btn:hover{
  color:grey;
}

@media only screen and (max-width: 1188px) {
  .right-div-section{
    grid-template-columns: 1fr;
  }
  .purchase-option{
    grid-template-columns: 1fr 50%;
  }
}

@media only screen and (max-width: 858px) {
  .purchase-option{
    grid-template-columns: 1fr 60%;
  }
}

@media only screen and (max-width: 764px) {
  .purchase-option{
    grid-template-columns: 1fr 1fr;
  }
  .left-right-section{
    grid-template-columns: 1fr;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
